html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Michroma', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6d7c83;
  background-image: url("./back.jpg");
}
.body1{
  margin-top: 50px;;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  height: 100%;
  /* background-size: cover; */
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
 
}

main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  bottom:0;
  width: 100%;
  height: 70px;
  text-align:center;
   left: 0;
   padding-top: 10px;;
   width: 100%;
  
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #fcf087;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
    border: 0.4rem #000b2b solid;
    transition: 0.3s;
}
button.primary {
  background-color: dodgerblue;
}
button.block {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
  background-color: rgb(170, 169, 169);
}
.col-1 {
  flex: 1 1 25rem;
  margin-left: 8px;;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 1.5rem;
  font-family: 'Vast Shadow', cursive;
  color: #20a020;
}
/* Rating */
.rating span {
  color: #dbdf00;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading{
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #f06626;
  background-color: #555555;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
/* Form */
.form {
  border-radius: 5%;
  background-color: rgb(170, 170, 170);
  max-width: 50rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;

}
.new-user-create-your-account{
  margin-bottom: 2rem;
  margin-top: 0;
}


/* .dropdown:hover .dropdown-content {
  display: block;
} */

/* Checkout steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.checkout-steps > div.active {
  border-top-color: dodgerblue;
  color:dodgerblue;
}
.order-id{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background-color: #ffffff;
  
}
.title{
  font-size: 2rem;
  color: white;
  background-color: rgb(68, 68, 68);
}

.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

button.small {
  font-size: 1.2rem;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

.order-list{
  background-color: #9c9c9c;
}
.welcome-h1{
  font-family: 'La Belle Aurore', cursive;
font-size: 4rem;
color:#000000
;
margin: 0;
font-weight: 5px;;
}
.welcome-div{
  margin: 0;
  padding-top: 0;
}